<app-navhome></app-navhome>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1>Careers</h1>
                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://www.nestdigital.com/images/group-2603.png" class="d-block w-100" >
                          </div>
                          <div class="carousel-item">
                            <img src="https://www.nestdigital.com/images/group-2604.png" class="d-block w-100" >
                          </div>
                          <div class="carousel-item">
                            <img src="https://www.nestdigital.com/images/img_carrer.png" class="d-block w-100" >
                          </div>
                        </div>
                      </div>
                        
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        
    
